@import '../../themesConfig.scss';

.controlPanel {
  display: flex;
  gap: 1vh;

  .controlPanel__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--control-buttons-bg);
    border-radius: calc(0.7vw + 0.7vh);
    width: 10vh;
    height: 10vh;
    cursor: pointer;

    &:hover {
      background-color: var(--control-buttons-bg_hover);
    }
  }
}
