html[theme='dark'] {
  --app-background-color: #ff4040;
  --time-color: #141414;
  --control-buttons-bg: #eaeaea;
  --control-buttons-bg_hover: #cdcdcd;
}

html[theme='light'] {
  --app-background-color: #ffffff
}
